@use "../modules" as *;
header {
    height: 100px;
    background-color: $colour3;
}

footer {
    height: 150px;
    background-color: $colour3;
}
main {
    background-color: rgb(39, 36, 36);
}

.title {
    &__copy {
        padding: px(20) 0;
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        width: min(100%, px(1140));
        grid-template-columns: repeat(1, 1fr);
        h2 {
            color: white;
            margin-left: px(20);
        }
    }
}
.main {
    display: grid;
    grid-template-rows: auto auto;
    margin-inline: auto;
    justify-items: normal;
    align-items: start;
    gap: px(20);
    width: min(100%, px(1140));
    grid-template-columns: repeat(4, 1fr);

    &__movie {
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
        background-color: $colour1;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        &:hover {
            .overview {
                transform: translateY(0);
            }
        }
    }

    &__info {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 0.5px;
        h3 {
            margin-top: 0;
        }
        span {
            background-color: $colour2;
            padding: 0.25rem 0.5rem;
            border-radius: 3px;
            font-weight: bold;
        }
    }
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s;
}
