<section class="details">
    <div class="details__info">
        <div class="detail__img">
            <img src="/images/audio1.jpg" alt="the calling poster" />
        </div>
        <div class="details__copy">
            <div class="details__tittle">
                <h3>Wherever you will go</h3>
                <p>
                    Wherever You Will Go" is the debut single of American band
                    the Calling. The song was released on May 22, 2001, as the
                    first single from their debut studio album, Camino Palmero
                    (2001). It remains their most renowned and their most
                    successful hit, peaking at number five on the Billboard Hot
                    100 and topping the Adult Top 40 for 23 weeks, the
                    second-longest-running number one in the chart's history,
                    behind "Smooth" by Santana and Rob Thomas. Outside the
                    United States, the song experienced similar success, peaking
                    atop the music charts of Italy, New Zealand, and Poland,
                    reaching number three in the United Kingdom, number five in
                    Australia, and becoming a top-ten hit in several European
                    countries.
                </p>
            </div>
            <div class="details__char">
                <h4>Genre:</h4>
                <p>Thriller</p>
            </div>
            <div class="details__char">
                <h4>Actors:</h4>
                <p>
                    Keri Russell, Alden Ehrenreich, OShea Jackson Jr, Ray
                    Liotta, Isiah Whitlock Jr
                </p>
            </div>
            <div class="details__char">
                <h4>Director:</h4>
                <p>
                    Keri Russell, Alden Ehrenreich, OShea Jackson Jr, Ray
                    Liotta, Isiah Whitlock Jr
                </p>
            </div>
            <div class="details__char">
                <h4>Country:</h4>
                <p>United States</p>
            </div>
            <audio title="Audio player" controls>
                <source src="/audio/the-calling.mp3" type="audio/mp3" />
                <track
                    kind="captions"
                    label="English captions"
                    src="/audio/whenever-you-will-go.txt"
                    srclang="en"
                    default
                />
            </audio>

        </div>
    </div>
</section>