<div class="title">
    <div class="title__copy">
        <h2>Videos</h2>
    </div>
</div>
<section class="main">

    <a href="/video">
        <div class="main__movie">
            <img src="images/image01.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/video">
        <div class="main__movie">
            <img src="images/image02.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/video">
        <div class="main__movie">
            <img src="images/image03.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/video">
        <div class="main__movie">
            <img src="images/image04.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>
</section>

<div class="title">
    <div class="title__copy">
        <h2>Audio</h2>
    </div>
</div>

<section class="main">

    <a href="/audio">
        <div class="main__movie">
            <img src="images/audio1.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/audio">
        <div class="main__movie">
            <img src="images/audio2.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/audio">
        <div class="main__movie">
            <img src="images/audio3.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>

    <a href="/audio">
        <div class="main__movie">
            <img src="images/audio3.jpg" alt="" />
            <div class="main__info">
                <h3>Lord of the Streets</h3>
                <span class="orange">5.3</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                When Jason Dyson refuses to make his prized fighter throw an MMA
                match, a notorious gangster collects his debt by killing the
                fighter and kidnapping Jason's daughter. Now he must train a
                prisoner to endure five consecutive underground fights to save
                her.
            </div>
        </div>
    </a>
</section>