<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <h1>This is our awesome team page</h1>

        <header>
            <nav>
                <ul>
                    <li><a href="/team/justin">justin</a></li>
                    <li><a href="/team/pawan">pawan</a></li>
                </ul>
            </nav>
            <h1>Dynamic content goes here</h1>
        </header>

        <!-- never touch this code-->

        {{{body}}}

        <hr />
        <h3>dynamic content ends here</h3>
    </body>
</html>