<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>Document</title>
        <script
            src="https://kit.fontawesome.com/62e3d456b9.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header class="header">
            <div class="header__nav">
                <a href="/">
                    <div><img src="/images/roku.svg" alt="" /></div></a>
                <div></div>
                <div>
                    <a href="/"> <i class="fa-solid fa-house"></i> </a>
                    <a href="/video"> <i class="fa-solid fa-video"></i> </a>
                    <a href="/audio"><i class="fa-solid fa-music"></i> </a>
                </div></div>
        </header>
        <main>
            {{{body}}}
        </main>

        <footer></footer>
        <script src="js/video.js"></script>
        {{! <script src="js/audio.js"></script> }}

    </body>
</html>